<div class="content-wrapper login-body">
  <div class="background-wrap">
    <div class="background"></div>
  </div>

  <form id="accesspanel" [formGroup]="EmailForm">
    <!--action="login" method="post"-->
    <div class="login-form">
      <h1 id="litheader">Student Health Care</h1>
      <div class="inset">
        <div class="form-group pos-rel">
          <p>
            <input type="text" name="email" id="email" placeholder="Enter email" class="form-control"
             formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          </p>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
            <div *ngIf="f.email.errors.email">email is invalid</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p class="p-container">
          <button [disabled]="loading" class="p-container btn btn-danger" id="go" (click)="sendemail()">Submit</button>
        </p>
      </div>
      <div style="text-align: center;">
        <a href="javascript:void(0)" [routerLink]="['/login']" for="remember" >Back to Login</a>
      </div>
    </div>
  </form>
</div>
<div *ngIf="this.loader==true" class="loader-gif-wrapper">
  <img src="assets/img/loader.gif" class="loader-gif"/>
</div>
