
<div class="content-wrapper login-body">
  <div class="background-wrap">
    <div class="background"></div>
  </div>

  <form id="accesspanel"  [formGroup]="PasswordFormData">
    <!--action="login" method="post"-->
    <div class="login-form">
      <h1 id="litheader">Change Password</h1>
      <div class="inset">
        <div class="form-group pos-rel">
          <p>
            <input type="password" id="password" formControlName="password" 
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
            placeholder="New Password" class="form-control" >
          </p>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group pos-rel">
          <p>
            <input type="password" id="conf_password" formControlName="conf_password" 
            [ngClass]="{ 'is-invalid': submitted && f.conf_password.errors }"
            placeholder="Confirm Password" class="form-control" 
            >
          </p>
          <div *ngIf="submitted && f.conf_password.errors" class="invalid-feedback">
            <div *ngIf="f.conf_password.errors.required">confirm password is required</div>
          </div>
          <div *ngIf="matchPassword" class="invalid-feedback">
            <div *ngIf="matchPassword">Password not matching</div>
          </div>
          

        </div>
      
        <!-- <input class="loginLoginValue" type="hidden" name="service" value="login" /> -->
      </div>
      <div class="form-group">
        <!--<button [disabled]="loading" class="p-container">Login</button>-->
        <p class="p-container">
          <!--<a [routerLink]="['/dashboard']" name="Login" id="go">Authorize</a>-->
          <button class="p-container btn btn-danger" id="go" (click)="changePassSubmit()" >Change</button>
        </p>
        <!-- <input type="submit" name="Login" id="go" value="Authorize"> -->
      </div>
    </div>
  </form>
</div>
