 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
         Past Checkup List
        </div>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/doctor-dashboard']" >Home</a></li>
            <li>Past Checkup List</li>
          </ul>
        </div>
      <!-- </div> -->
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
          </div>
          <div class="box-body">
            <table id="padsTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>School</th>
                <th>School Admin</th>
                <th>Class</th>
                <th>Division</th>
                <th>Scheduled Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of data">
                  <td>{{list.sr_no}}</td>
                  <td class="text-success">{{list.school_name}}</td>
                  <td>{{list.admin_name}}</td>
                  <td>{{list.class_name}}</td>
                  <td>{{list.division_name}}</td>
                  <td>{{list.scheduled_at}}</td>
                  <td ><a class="btn btn-primary btn-width w-fit-content margin p-2 col-xs-3"
                    routerLink='/paststudent_list/{{list.scheduled_checkup_id}}'>view</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
