 <!-- Content Wrapper. Contains page content -->
 
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Student Report History
       <small>Control panel</small>
     </h1>
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-xs-12">
         <div class="box">
           <div class="box-header">
             <h3 class="box-title">Display Student List</h3>
             <!-- <div class="search-btn-input">
                <input type="text" class="mr-10 search-input" placeholder="Search by school name"/>
                <button type="button" class="btn btn-success btn-lg">View All Records</button>
              </div> -->
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <table id="history" class="table table-bordered table-hover">
               <thead>
                 <tr>
                   <th></th>
                   <th>Height (CM)</th>
                   <th>Weight (KG)</th>
                   <th>BMI (KG/M2)</th>
                   <th>BP</th>
                   <th>Heartrate (Beats/Min)</th>
                   <th>Muscle mass (lbs)</th>
                   <th>Body fat (%)</th>
                   <th>Water content (%)</th>
                   <th>Basal metabolism (BMR)</th>
                   <th>Visceral fat</th>
                   <th>Bone mass  (%)</th>
                   <th>Dental report</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let showStud of showStudentReport; let i = index;">
                   <!-- <td *ngIf="month.length > 0">{{month.month}}</td> -->
                   <td><b>{{showStud.month}}</b></td>
                   <td>{{showStud.Height}}</td>
                   <td>{{showStud.Weight}} </td>
                   <td>{{showStud.Bmi}} </td>
                   <td>{{showStud.Bp}}</td>
                   <td>{{showStud.Heart_rate}} </td>
                   <td>{{showStud.Muscle_mass}} </td>
                   <td>{{showStud.Body_fat}} </td>
                   <td>{{showStud.Water}} </td>
                   <td>{{showStud.Basal_etabolism}} </td>
                   <td>{{showStud.Visceral_fat}}</td>
                   <td>{{showStud.Bone_mass}}</td>
                   <td>{{showStud.Dental_report}}</td>
                 </tr>
               </tbody>
             </table>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
       </div>
       <!-- /.col -->
     </div>
   </section>
 </div>
