<!-- Content Wrapper. Contains page content -->
<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
<section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Schedule List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Schedule List</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <table id="scheduleTable" class="table table-bordered table-hover" >
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Doctor Name</th>
                  <th>School Name</th>
                  <th>Class</th>
                  <th>Division</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schedule of data">
                  <td>{{schedule.sr_no}}</td>
                  <td>{{schedule.doctor_name}}</td>
                  <td>{{schedule.school_name}}</td>
                  <td>{{schedule.class_name}}</td>
                  <td>{{schedule.division_name}}</td>
                  <td>{{schedule.scheduled_at}}</td>
                  <td class="row">
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3"
                      routerLink='/update_schedule/{{schedule.scheduled_checkup_id}}'><i class="fas fa-pencil-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>