.mr-10{margin-right: 10px;}

/* .search-btn-input{width: fit-content;margin: 0 auto;text-align: center;} */
.search-btn-input{margin-top: 15px;width: 40%; margin: 0 auto;}
.search-input{
    height: 35px;
    padding-left: 8px;
    width: 100%;
}
.search-btn{margin-top: 15px;}
.w-fit-content{width: fit-content;}