
<header class="main-header">
  <!-- Logo -->
  <!-- <a [routerLink]="['/dashboard']" class="logo">
    <span class="logo-mini"><b>C</b>C</span>
    <span class="logo-lg"><b>Student</b> Health Care</span>
  </a> -->
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top navbar-fixed-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a [routerLink]="['/dashboard']" class="logo">
      <span class="logo-mini"><b>C</b>C</span>
      <span class="logo-lg"><img src="assets/img/logo.png" class="img-responsive logo-img"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a class="btn btn-flat log-out">
            <span class="username-top">{{Username}}</span>
          </a>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a [routerLink]="['/login']" class="dropdown-toggle log-out" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <!-- <img src="assets/dist/img/avatar.png" class="user-image" alt="User Image"> -->
            <!-- <i class="fas fa-sign-out-alt"></i> -->
          </a>
          <!-- <ul class="dropdown-menu">
            <li class="user-header">
              <img src="assets/dist/img/avatar.png" class="" alt="User Image">
             
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:void(0)" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header" style="visibility: hidden">DOCTOR NAVIGATION</li>
      <li class="header">DOCTOR NAVIGATION</li>
      <li class="treeview">
        <a [routerLink]="['/doctor-dashboard']" routerLinkActive="active" >  
          <i class="fas fa-school"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a [routerLink]="['/doctor_assigned_todays_school']" routerLinkActive="active" >  
          <i class="far fa-calendar-alt"></i> <span>Today's Schedule</span>
        </a>
      </li>
      <li class="treeview">
        <a [routerLink]="['/doctor_assigned_school']" routerLinkActive="active">
          <i class="fas fa-clipboard-list"></i> <span>Upcoming Schedule</span>
        </a>
      </li>
      <!-- <li class="treeview">
        <a [routerLink]="['/student_report']">
          <i class="fas fa-user-tie"></i> <span>Students Report</span>
        </a>
      </li> -->
      <li class="treeview">
        <a [routerLink]="['/pastdoctor_assigned_school']" routerLinkActive="active">
          <i class="far fa-clock"></i> <span>Past Schedule</span>
        </a>
      </li>
    </ul>
    <!-- <ul class="sidebar-menu" data-widget="tree">
      <li class="header">LABELS</li>
      <li><a href="javascript:void(0)"><i class="fas fa-comment-alt text-aqua"></i> <span>Reports & Feedbacks</span></a></li>
    </ul> -->
  </section>
  <!-- /.sidebar -->
</aside>
