 <!-- Content Wrapper. Contains page content -->
 <!-- <header></header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="header-text">
      Today's schedule Student List
      </div>
    </div>
    <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
      <div class="breadcrumb-padding">
        <ul class="breadcrumb float-right">
          <li><a href="javascript:void(0)" [routerLink]="['/doctor-dashboard']" >Home</a></li>
          <li><a href="javascript:void(0)" [routerLink]="['/doctor_assigned_todays_school']" >Today's Schedule</a></li>
          <li>Student List</li>
        </ul>
      </div>
    <!-- </div> -->
  </section>
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <table id="ssTable" class="table table-bordered table-hover" >
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Blood Group</th>
                <th>Gender</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of data">
                  <td>{{list.sr_no}}</td>
                  <td class="text-success">{{list.s_fname}} {{list.s_lname}}</td>
                  <td>{{list.blood_group}}</td>
                  <td>{{list.gender}}</td>
                  <td *ngIf=" list.is_completed == 'no'"><a class="btn btn-primary btn-width w-fit-content margin p-2 col-xs-3"
                    routerLink='/student_checkup/{{list.checkup_id}}'>start</a>
                  </td>
                  <td *ngIf="list.is_completed == 'yes'"><a class="btn btn-success btn-width w-fit-content margin p-2 col-xs-3"
                    routerLink='/student_checkup/{{list.checkup_id}}'><i class="fas fa-pencil-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
