<!-- Content Wrapper. Contains page content -->
<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          School
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/school_dashboard']" >Home</a></li>
            <li>School</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Display School Information</h3>
            <!-- <div class="search-btn-input">
                <input type="text" class="mr-10 search-input" placeholder="Search by school name"/>
                <button type="button" class="btn btn-success btn-lg">View All Records</button>
              </div> -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>School</th>
                  <th>School Admin</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Website</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-success" *ngIf="getSchool && getSchool.school_name">{{getSchool.school_name}}</td>
                  <td *ngIf="getSchool && getSchool.admin_name">{{getSchool.admin_name}}</td>
                  <td *ngIf="getSchool && getSchool.email">{{getSchool.email}}</td>
                  <td *ngIf="getSchool && getSchool.mobile">{{getSchool.mobile}}</td>
                  <td *ngIf="getSchool && getSchool.website_url">{{getSchool.website_url}}</td>
                  <td *ngIf="getSchool && getSchool.address">{{getSchool.address}}</td>
                  <!-- <td>9100120000</td> -->
                  <!-- <td class="row">
                    <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                  </td> -->
                </tr>
                <!-- <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-success">ABC Internationl School</td>
                    <td>School Admin Name</td>
                    <td>example@demo.com</td>
                    <td>9100120000</td>
                    <td class="row">
                      <button class="btn btn-danger w-fit-content margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                      <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" [routerLink]="['/add_student']"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr> -->

              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>