<!-- Content Wrapper. Contains page content -->
<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Classes List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Classes List</li>
          </ul>
        </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body"> 
            <table id="classTable" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>School Name</th>
                  <th>Class Name</th>
                  <th>Division</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of data">
                  <td>{{student.sr_no}}</td>
                  <td>{{student.school_name}}</td>
                  <td>{{student.class_name}}</td>
                  <td *ngIf="student.division_name"> {{student.division_name}}</td>
                  <td *ngIf="!student.division_name">-</td>
                  <td class="row">
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3"
                      routerLink='/add_classes/{{student.school_id}}'><i class="fas fa-pencil-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>