<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Add School
        </div>
        <div class="header-text" *ngIf="userId">
          Update School
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Add School</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <form [formGroup]="addSchoolForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">School Name *</label>
                <input type="text" class="form-control" id="school_name" (blur)="checkSchool()" formControlName="school_name"
                  [ngClass]="{ 'is-invalid': submitted && f.school_name.errors }" placeholder="School Name">
                <div *ngIf="submitted && f.school_name.errors" class="invalid-feedback2">
                  <div *ngIf="f.school_name.errors.required">School Name is required</div>
                  <div *ngIf="f.school_name.errors.pattern">School Name Must be contain only laters</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group pos-rel">
                <label for="name">Email *</label>
                <input type="text" class="form-control" id="email" (blur)="checkEmail()" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Please enter your email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback2">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group pos-rel">
                <label for="name">Email *</label>
                <input type="text" class="form-control" id="email" disabled formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Please enter your email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback2">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group pos-rel">
                <label for="mnumber">Phone Number *</label>
                <input type="text" class="form-control" id="phone" (blur)="checkMobile()" formControlName="mobile"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="Enter Mobile Number"
                   [attr.maxlength]="10" (keypress)="numberOnly($event)">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback2">
                  <div *ngIf="f.mobile.errors.required">Phone number is required</div>
                  <div *ngIf="f.mobile.errors.pattern" class="invalid-feedback-inside">Phone number Must be a valid</div>
                  <div *ngIf="f.mobile.errors.max">Phone number must be 10 digit</div>
                  <div *ngIf="f.mobile.errors.maxlength || f.mobile.errors.minlength"
                   >Please provide only 10 digit mobile number</div>
                  <!-- <div *ngIf="">Phone number must be 10 digit</div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group pos-rel">
                <label for="mnumber">Phone Number *</label>
                <input type="text" class="form-control" id="phone" formControlName="mobile"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" maxlength="10" placeholder="Enter Mobile Number"
                  >
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback2">
                  <div *ngIf="f.mobile.errors.required">Phone number is required</div>
                  <div *ngIf="f.mobile.errors.pattern">Phone number Must be a valid</div>
                  <div *ngIf="f.mobile.errors.max">Phone number must be 10 digit</div>
                  <div *ngIf="f.mobile.errors.maxlength || f.mobile.errors.minlength"
                   >Please provide only 10 digit mobile number</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">School Admin *</label>
                <input type="text" class="form-control" id="school_admin" formControlName="admin_name"
                  [ngClass]="{ 'is-invalid': submitted && f.admin_name.errors }" placeholder="Enter School Admin Name">
                <div *ngIf="submitted && f.admin_name.errors" class="invalid-feedback2">
                  <div *ngIf="f.admin_name.errors.required">Admin Name is required</div>
                  <!-- <div *ngIf="f.admin_name.errors.pattern">Admin Name Must be a valid</div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="swurl">School website URL *</label>
                <input type="text" class="form-control" id="school_website" formControlName="website_url"
                  placeholder="Enter School Website URL"
                  [ngClass]="{ 'is-invalid': submitted && f.website_url.errors }" 
                  >
                <div *ngIf="submitted && f.website_url.errors" class="invalid-feedback2">
                  <div *ngIf="f.website_url.errors.required">Website is required</div>
                  <div style="color:red" *ngIf="website_url.value && website_url.invalid">
                    not a valid URL
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Upload a school logo</label>
                <div class="input-group"> 
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                  </span>
                  <input class="form-control" type="file" accept="image/png,image/jpeg,image/jpg"
                    (change)="handleChangeImage($event)" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="address">Address *</label>
                <textarea rows="5" cols="6" class="form-control" id="address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" ></textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback2">
                  <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
              </div>
            </div>
            <div class="form-group pos-rel col-md-12 text-center" *ngIf="!userId">
              <a routerLink='/school_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" (click)="addSchoolFormData()" [disabled]="disableButton">Submit</button>
            </div>
            <div class="form-group pos-rel col-md-12 text-center" *ngIf="userId">
              <a routerLink='/school_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" (click)="updateSchoolForm()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>