<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Add Division
        </div>
        <div class="header-text" *ngIf="userId">
          Update Division
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Add Division</li>
          </ul>
        </div>
    </div>
  </section>
  <section class="content">

    <div class="box box-default">
      <form [formGroup]="addStudentForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group">
                <label>Select School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" formControlName="school_id"
                  (change)="getClass(this.addStudentForm.get('school_id').value);">
                  <option selected="selected" disabled>Choose School</option>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">Please Select School</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label>Select School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" formControlName="school_id"
                  (change)="getClass(this.addStudentForm.get('school_id').value);" disabled>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">Please Select School</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Class Name *</label>
                <select class="form-control" style="width: 100%;" formControlName="class_id"
                  [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }" (change)="getselectedDivision($event)">

                  <option *ngFor="let class of classList" [value]="class.class_id">{{class.class_name}}</option>
                </select>
                <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.class_id.errors.required">Please Select Class</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Division *</label>
                <ng-multiselect-dropdown [placeholder]="'Division'" formControlName="division_id" [data]="division_list"
                  [(ngModel)]="selectedItems" [settings]="divisiondropdownSettings" (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.division_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.division_id.errors.required">Please Select Division</div>
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="division" >
            <input type="hidden" formControlName="id" >
            <div class="form-group pos-rel col-md-12 text-center">
              <a routerLink='/classes_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="!classId" (click)="addSchoolData()">Add</button>
              <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="classId"
                (click)="updateSchoolData()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

</div>