<div class="content-wrapper">
  <section class="content-header">
    <h1>Dashboard
      <small>Control panel</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="col-lg-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{getSchool}}</h3>
              <p>Schools</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a [routerLink]="['/school_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{getStudent}}</h3>
              <p>Students</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a [routerLink]="['/student_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{getDoctor}}</h3>
              <p>Doctors</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a [routerLink]="['/doctor_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{getCheckup}}</h3>

              <p>Total Student Checkups</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a [routerLink]="['/done_checkups']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Quick Send Mail Notifiaction</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <form [formGroup]="emailForm">
                  <div class="col-md-12 col-xs-12">
                    <div class="form-group pos-rel">
                      <label for="email">Email</label>
                      <input type="text" formControlName="email" class="form-control" id="email"
                        placeholder="Enter Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback2">
                        <div *ngIf="f.email.errors.required">email is required</div>
                        <div *ngIf="f.email.errors.email">email is invalid</div>
                      </div>
                    </div>
                    <div class="form-group pos-rel">
                      <label for="address">Message</label>
                      <textarea rows="3" cols="6" formControlName="message" class="form-control" id="message"
                        placeholder="Write message"
                        [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback2">
                        <div *ngIf="f.message.errors.required">message is required</div>
                      </div>
                    </div>
                    <div class="form-group text-center">
                      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="sendMail()">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="col-xs-12 col-md-12 plr-0">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Yearly Recap Report</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <p class="text-center">
                    <strong>Goal Completion</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">Add Schools</span>
                    <span class="progress-number"><b>{{getSchool}}</b>/200</span>
                    <progress-bar [progress]="(getSchool/200)*100" [color]="'#00c0ef'">
                    </progress-bar>

                  </div>
                  <div class="progress-group">
                    <span class="progress-text">Add Doctors</span>
                    <span class="progress-number"><b>{{getDoctor}}</b>/400</span>
                    <progress-bar [progress]="(getDoctor/400)*100" [color]="'#dd4b39'">
                    </progress-bar>
                  </div>
                  <div class="progress-group">
                    <span class="progress-text">Add Students</span>
                    <span class="progress-number"><b>{{getStudent}}</b>/800</span>
                    <progress-bar [progress]="(getStudent/800)*100" [color]="'#00a65a'">
                    </progress-bar>
                  </div>
                  <div class="progress-group">
                    <span class="progress-text">Total Student Checkups</span>
                    <span class="progress-number"><b>{{getCheckup}}</b>/500</span>
                    <progress-bar [progress]="(getCheckup/500)*100" [color]="'#f39c12'">
                    </progress-bar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 plr-0">
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </section>
</div>