<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
         Report
        </div>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/doctor-dashboard']" >Home</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/pastdoctor_assigned_school']" >Past Checkup List</a></li>
            <li><a href="javascript:void(0)" routerLink='/paststudent_list/{{sch_checkupId}}' >Student List</a></li>
            <li>Report</li>
          </ul>
        </div>
      <!-- </div> -->
    </div>
    <div class="search-btn-input row">
      <div class="container-fluid">
        <div class="col-md-3">
          <div class="form-group" *ngIf="studentData && studentData.s_fname">
            <label for="schoolName">Student Name</label>
            <input type="text" class="form-control" value="{{studentData.s_fname}} {{studentData.s_lname}}" disabled >
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" *ngIf="studentData && studentData.school_name">
            <label for="schoolName">School Name</label>
            <input type="text" class="form-control" 
              value="{{studentData.school_name}}" disabled>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" *ngIf="studentData && studentData.class_name">
            <label>Class</label>
            <input type="text" class="form-control" 
              value="{{studentData.class_name}}" disabled>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" *ngIf="studentData && studentData.division">
            <label>Division</label>
            <input type="text" class="form-control"
              value="{{studentData.division}}" disabled>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content" >

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Make Report</h3>
      </div>
      <!-- /.box-header -->
      <form [formGroup]="addStudentCheckupForm">
        <div class="box-body container-fluid">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="bmi">BMI (KG/M2)</label>
                <input type="text" class="form-control" id="bmi" formControlName="bmi" placeholder="BMI" disabled>
              </div>
              <div class="form-group">
                <label for="height">Height (CM)</label>
                <input type="text" class="form-control" id="height" formControlName="height" disabled placeholder="Student Height">
              </div>
              <div class="form-group">
                <label for="bp">Blood Pressure (High and Low in numbers)</label>
                <input type="text" class="form-control" id="bp" formControlName="bp" disabled placeholder="Blood Pressure">
              </div>
              <div class="form-group">
                <label for="mm">Muscle mass (lbs)</label>
                <input type="text" class="form-control" id="mm" formControlName="muscle_mass" disabled placeholder="Muscle mass">
              </div>
              <div class="form-group">
                <label for="bm">Basal metabolism (BMR)</label>
                <input type="text" class="form-control" id="bm" formControlName="basal_metabolism" disabled placeholder="Basal metabolism">
              </div>
              <div class="form-group">
                <label for="vf">Visceral fat</label>
                <input type="text" class="form-control" id="vf" formControlName="visceral_fat" disabled placeholder="Visceral fat">
              </div>
              
              <div class="form-group">
                <label for="eye">Eye check up</label>
                <table class="table table-bordered">
                  <thead class="bg-dark">
                    <tr>
                      <th>EYE</th>
                      <th>LEFT EYE</th>
                      <th>RIGHT EYE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="bg-dark">SPHERICAL</td>
                      <td><input type="text" class="form-control" formControlName="spherical_left" disabled placeholder="-3.00"></td>
                      <td><input type="text" class="form-control" formControlName="spherical_right" disabled placeholder="-5.00"></td>
                    </tr>
                    <tr>
                      <td class="bg-dark">CYLINDRICAL</td>
                      <td><input type="text" class="form-control" formControlName="cylindrical_left" disabled placeholder="-0.75"></td>
                      <td><input type="text" class="form-control" formControlName="cylindrical_right" disabled placeholder="40"></td>
                    </tr>
                    <tr>
                      <td class="bg-dark">AXIS</td>
                      <td><input type="text" class="form-control" formControlName="axis_left" disabled placeholder="180"></td>
                      <td><input type="text" class="form-control" formControlName="axis_right" disabled placeholder="-0.25"></td>
                    </tr>
                    <tr>
                      <td class="bg-dark">AP</td>
                      <td><input type="text" class="form-control" formControlName="ap_left" disabled placeholder="-"></td>
                      <td><input type="text" class="form-control" formControlName="ap_right" disabled placeholder="-"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- second column -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="heartrate">Heart Rate (Beats/Min)</label>
                <input type="text" class="form-control" id="heartrate" formControlName="heart_rate"
                  placeholder="Heartrate (would be in BPM - beats per minute)" disabled>
              </div>
              <div class="form-group">
                <label for="weight">Weight (KG)</label>
                <input type="text" class="form-control" id="weight" formControlName="weight" disabled placeholder="Student Weight">
              </div>
              <div class="form-group">
                <label for="bf">Body fat (%)</label>
                <input type="text" class="form-control" id="bf" formControlName="body_fat" disabled placeholder="Body fat">
              </div>
              <div class="form-group">
                <label for="wc">Water content (%)</label>
                <input type="text" class="form-control" id="wc" formControlName="water" disabled placeholder="Water content">
              </div>
              <div class="form-group">
                <label for="bmass">Bone mass (%)</label>
                <input type="text" class="form-control" id="bmass" formControlName="bone_mass" disabled placeholder="bone mass">
              </div>
              <div class="form-group">
                <label for="dreport">Dental report (visual)</label>
                <input type="text" class="form-control" id="dreport" formControlName="dental_report" disabled placeholder="Dental report">
              </div>
              <div class="form-group">
                <label for="describe">Consultation Notes</label>
                <textarea rows="5" cols="6" class="form-control" formControlName="consultation_notes" disabled id="describe"></textarea>
              </div>
              <div class="form-group">
                <label for="describe">Suggested Treatment</label>
                <textarea rows="5" cols="6" class="form-control" formControlName="suggested_treatment" disabled id="describe"></textarea>
              </div>
            </div>
            <!-- /.col -->
            <div class="form-group col-md-12 text-center">
              <a class="btn btn-danger btn-lg"
                    routerLink='/paststudent_list/{{sch_checkupId}}'>Back</a>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </form>
    </div>

  </section>
  <!-- /.content -->
</div>
