<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Add Class
        </div>
        <div class="header-text" *ngIf="userId">
          Update Class
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Add Class</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="content">

    <div class="box box-default">
      <form [formGroup]="addStudentForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group">
                <label>Select School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" formControlName="school_id"
                  (change)="getClass()">
                  <option selected="selected" disabled>Choose School</option>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">Please Select School</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label>Select School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" formControlName="school_id"
                  (change)="getClass()">
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">Please Select School</div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Class Name *</label>
                <select class="form-control" style="width: 100%;" formControlName="class_id"
                  [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }" (change)="getDivision($event)">

                  <option *ngFor="let class of classList" [value]="class.c_id">{{class.class_name}}</option>
                </select>
                <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.class_id.errors.required">Please Select Class</div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Class Name *</label>
                <ng-multiselect-dropdown [placeholder]="'Class'" formControlName="class_id" [data]="classList"
                  [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.class_id.errors.required">Please Select Class</div>
                </div>
              </div>
            </div> -->
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead class="bg-gradient">
                  <tr>
                    <th>Class List</th>
                    <th>Division List</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let classDivision of allClassDivision">
                    <td>
                      <label class="check-container">{{classDivision?.class_name}} 
                        <input type="checkbox" (click)="selectClass(classDivision?.c_id, classDivision?.status);addprop1($event)" [checked]="classDivision?.status == 'true'">
                        <span class="checkmark2"></span>
                      </label>
                    </td>
                    <td>
                      <ul class="checkbox-wrapper"  >
                        <li *ngFor="let division of classDivision?.division" >
                          <label class="check-container">
                            {{division?.division_name}}
                            <!-- [checked]="division?.status == 'true'" -->
                            <input type="checkbox"  [checked]="division?.status == 'true'" (click)="selectDivision(classDivision?.c_id, division )" >
                            <span class="checkmark2"></span>
                            
                          </label>                          
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="form-group pos-rel">
                <label for="name">Class List *</label>
                <ul class="checkbox-wrapper">
                  <li>
                    <label class="check-container">LKG 
                      <input type="checkbox" checked="checked">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">UKG
                      <input type="checkbox" checked="checked">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">1
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">2
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">3
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">4
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">5
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">6
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">7
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">8
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">9
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">10
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">11
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                  <li>
                    <label class="check-container">12
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                  </li>
                </ul>
              </div> -->
            </div>
            <input type="hidden" formControlName="class" >
            <input type="hidden" formControlName="id" >
            <div class="form-group pos-rel col-md-12 text-center">
              <a routerLink='/classes_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="!userId" (click)="addSchoolData()" [disabled]="disableButton">Add</button>
              <!-- <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="userId"
                (click)="updateSchoolData()" [disabled]="disableButton">Update</button> -->
                <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="userId"
                (click)="addSchoolData()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

</div>