<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      School Details
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <form >
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="profile-img-wrapper" *ngIf="showSingleSchool && showSingleSchool.logo_url">
                  <img src="{{url}}{{showSingleSchool.logo_url}}" class="img-responsive"/>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="name">School Name</label>
                <input disabled type="text" class="form-control" id="school_name" 
                  *ngIf="showSingleSchool && showSingleSchool.school_name !='undefined'" value="{{showSingleSchool.school_name}}" >
              </div>
              <div class="form-group">
                <label for="mnumber">Phone Number</label>
                <input disabled type="text" class="form-control" id="phone" 
                  *ngIf="showSingleSchool && showSingleSchool.mobile !='undefined'" value="{{showSingleSchool.mobile}}">
              </div>
              <div class="form-group">
                <label for="swurl">School website URL</label>
                <input disabled type="text" class="form-control" id="school_website" 
                  *ngIf="showSingleSchool && showSingleSchool.website_url !='undefined'" value="{{showSingleSchool.website_url}}">
              </div>
              <div class="form-group">
                <label for="name">Email</label>
                <input disabled type="text" class="form-control" id="email" 
                  *ngIf="showSingleSchool && showSingleSchool.email !='undefined'" value="{{showSingleSchool.email}}">
              </div>
              <div class="form-group">
                <label for="name">School Admin</label>
                <input disabled type="text" class="form-control" id="school_admin" 
                  *ngIf="showSingleSchool && showSingleSchool.admin_name !='undefined'" value="{{showSingleSchool.admin_name}}">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <textarea rows="5" disabled cols="6" class="form-control" id="address"
                *ngIf="showSingleSchool && showSingleSchool.address !='undefined'" value="{{showSingleSchool.address}}"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <a routerLink='/school_list' class="btn btn-danger btn-lg">Back</a> 
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>  
  </section>
</div>
