<!-- Content Wrapper. Contains page content -->
<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <section class="content-header">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="header-text">
            Checkup List
          </div>
        </div>
          <div class="breadcrumb-padding">
            <ul class="breadcrumb float-right">
              <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
              <li>Checkup List</li>
            </ul>
          </div>
      </div>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="checkupTable" class="table table-bordered table-hover" >
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Doctor Name</th>
                    <th>School Name</th>
                    <th>Class Name</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let checkup of data">
                    <td>{{checkup.sr_no}}</td>
                    <td>{{checkup.doctor_name}}</td>
                    <td>{{checkup.school_name}}</td>
                    <td>{{checkup.class_name}}</td>
                    <td>{{checkup.scheduled_at}}</td>
                    <td class="row">
                      <a class="btn btn-primary w-fit-content margin p-2 col-xs-3"
                        routerLink='/studentcheckuplist/{{checkup.scheduled_checkup_id}}'>View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
  </div>