<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Add Student
        </div>
        <div class="header-text" *ngIf="userId">
          Update Student
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Add Student</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <form [formGroup]="addStudentForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">First Name *</label>
                <input type="text" class="form-control" id="name"
                  [ngClass]="{ 'is-invalid': submitted && f.s_fname.errors }" formControlName="s_fname"
                  placeholder="First Name">
                <div *ngIf="submitted && f.s_fname.errors" class="invalid-feedback">
                  <div *ngIf="f.s_fname.errors.required">Student Name is required</div>
                  <div *ngIf="f.s_fname.errors.pattern">Student Name Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Last Name *</label>
                <input type="text" class="form-control" id="lastname" formControlName="s_lname"
                  [ngClass]="{ 'is-invalid': submitted && f.s_lname.errors }" placeholder="Last Name">
                <div *ngIf="submitted && f.s_lname.errors" class="invalid-feedback">
                  <div *ngIf="f.s_lname.errors.required">Last Name is required</div>
                  <div *ngIf="f.s_lname.errors.pattern">Last Name Must be valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group pos-rel">
                <label for="name">Primary Email *</label>
                <div >
                    <input type="text" class="form-control" id="lastname" (blur)="checkEmail(email)" [(ngModel)]="email"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.s_lname.errors }"
                    placeholder="Email" (keyup)="checkParentExist()" (keydown)="removeDisable($event)" autocomplete="off">
                </div>
                <ul class="auto-suggestion-drp" *ngIf="selectFlag">
                  <li *ngFor="let parents of emailList" (click)="selectEmail(parents.email)">{{parents.fname}} (
                    {{parents.email}} )</li>
                </ul>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback2">
                  <div *ngIf="f.email.errors.required">Primary Email is required</div>
                  <div *ngIf="f.email.errors.pattern">Email Must be a valid</div>
                </div>
              </div>
              <div *ngIf="parentFlag">
                <input type="hidden" formControlName="parent_id" [(ngModel)]="parentResponseData.parent_id">
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label for="name">Primary Email *</label>
                <input type="text" class="form-control" id="lastname" disabled formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.s_lname.errors }" placeholder="Email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Primary Email is required</div>
                  <div *ngIf="f.email.errors.pattern">Email Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId && !parentFlag">
              <div class="form-group">
                <label for="name">Primary Mobile *</label>
                <input type="text" class="form-control" id="phone" (blur)="checkMobile()" formControlName="mobile"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="Enter Mobile Number"
                  [attr.maxlength]="10" [(ngModel)]="mobile" (keypress)="numberOnly($event)">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Primary Mobile is required</div>
                  <div *ngIf="f.mobile.errors.pattern" class="invalid-feedback-inside">Phone number Must be a valid
                  </div>
                  <div *ngIf="f.mobile.errors.max">Phone number must be 10 digit</div>
                  <div *ngIf="f.mobile.errors.maxlength || f.mobile.errors.minlength">Please provide only 10 digit
                    mobile number</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label for="name">Primary Mobile *</label>
                <input type="text" class="form-control" id="phone" (blur)="checkMobile()" formControlName="mobile"
                   [(ngModel)]="mobile">
              </div>
            </div>
            <div class="col-md-6" *ngIf="parentFlag">
              <div class="form-group">
                <label for="name">Primary Mobile *</label>
                <input type="text" class="form-control" id="phone" formControlName="mobile"
                  [(ngModel)]="parentResponseData.mobile" placeholder="Mobile Number"
                  ng-maxlength="10">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" (change)="getClass($event)"
                  formControlName="school_id">
                  <option selected="selected" disabled>Choose School</option>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">School Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group col-md-6 pl-0">
                <label>Class *</label>
                <select class="form-control select2" style="width: 100%;"  formControlName="class_id"
                  [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }" (change)="getDivision($event)">
                  <option selected="selected" disabled>Choose Class *</option>
                  <option *ngFor="let class of classList" [value]="class.class_id">{{class.class_name}}</option>
                </select>
                <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.class_id.errors.required">Please Select Class</div>
                </div>
              </div>
              <div class="form-group col-md-6 pr-0">
                <label for="name">Division *</label>
               
                  <select class="form-control select2" style="width: 100%;"  formControlName="division_id"
                  >
                  <option selected="selected" disabled>Choose Division </option>
                  <option *ngFor="let division of division_list" [value]="division.division_id">{{division.division_name}}</option>
                </select>
                <div *ngIf="submitted && f.division_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.division_id.errors.required">Please Select Division</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pscode">Date Of Birth *</label>
                <input type="date" class="form-control" id="pscode" formControlName="dob"
                  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" placeholder="Enter Date of Birth"
                  [max]="getToday()">
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="radio-container">Male
                  <input type="radio" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" name="gender"
                    value="male" checked="checked" formControlName="gender">
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container">Female
                  <input type="radio" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" name="gender"
                    value="female" formControlName="gender">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">Please select gender</div>
              </div>
            </div>
            <div *ngIf="!parentFlag">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mName">Mother's Name *</label>
                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f.mother_name.errors }"
                    class="form-control" id="mName" formControlName="mother_name" placeholder="Enter Mother's Name"
                    [(ngModel)]="mother_name">
                  <div *ngIf="submitted && f.mother_name.errors" class="invalid-feedback">
                    <div *ngIf="f.mother_name.errors.required">Mother Name is required</div>
                    <div *ngIf="f.mother_name.errors.pattern">Mother Name Must be a valid</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fEmail">Father's Name *</label>
                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }"
                    class="form-control" id="fEmail" formControlName="father_name" placeholder="Enter Father's Name"
                    [(ngModel)]="father_name">
                  <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                    <div *ngIf="f.father_name.errors.required">Father Name is required</div>
                    <div *ngIf="f.father_name.errors.pattern">Father Name Must be a valid</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mMobile">Mother's Mobile Number </label>
                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f.mother_mobile.errors }"
                    class="form-control" id="mMobile" [attr.maxlength]="10" formControlName="mother_mobile" (keypress)="numberOnly($event)"
                    placeholder="Enter Mother's Mobile Number"  [(ngModel)]="mother_mobile">
                  <div *ngIf="submitted && f.mother_mobile.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.mother_mobile.errors.required">Mother Mobile is required</div> -->
                    <div *ngIf="submitted && f.mother_mobile.errors.maxlength">Mother Mobile Must be 10 digit and valid</div>
                    <div *ngIf="submitted && f.mother_mobile.errors.minlength"> Mother Mobile Must be 10 digit and valid</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fMobile">Father's Mobile Number </label>
                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f.father_mobile.errors }"
                    class="form-control" id="fMobile" [attr.maxlength]="10" formControlName="father_mobile" (keypress)="numberOnly($event)"
                    placeholder="Enter Father's Mobile Number" [(ngModel)]="father_mobile">
                  <div *ngIf="submitted && f.father_mobile.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.father_mobile.errors.required">Father mobile is required</div> -->
                    <div *ngIf="submitted && f.father_mobile.errors.maxlength">Father mobile Must be 10 digit and valid</div>
                    <div *ngIf="submitted && f.father_mobile.errors.minlength">Father mobile Must be 10 digit and valid</div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="parentFlag">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mName">Mother's Name *</label>
                  <input type="text" class="form-control" id="mName" formControlName="mother_name"
                    placeholder="Enter Mother's Name" disabled [(ngModel)]="parentResponseData.mother_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fEmail">Father's Name *</label>
                  <input type="text" class="form-control" id="fEmail" formControlName="father_name"
                    placeholder="Enter Father's Name" disabled [(ngModel)]="parentResponseData.father_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mMobile">Mother's Mobile Number *</label>
                  <input type="text" class="form-control" id="mMobile" formControlName="mother_mobile"
                    placeholder="Enter Mother's Mobile Number" disabled [attr.maxlength]="10" [(ngModel)]="parentResponseData.mother_mobile">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fMobile">Father's Mobile Number *</label>
                  <input type="text" class="form-control" id="fMobile" formControlName="father_mobile"
                    placeholder="Enter Father's Mobile Number" disabled [attr.maxlength]="10" [(ngModel)]="parentResponseData.father_mobile">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="bp">Blood Group</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.blood_group.errors }" 
                  formControlName="blood_group">
                  <option selected="selected" disabled>Choose Blood group</option>
                  <option *ngFor="let blood of BGList" [value]="blood.blood_name">{{blood.blood_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Upload Student Photo</label>
                <div class="input-group" name="student_pic">
                  <span class="input-group-btn">
                    <input class="form-control" type="file" accept="image/png,image/jpeg,image/jpg"
                      (change)="handleChangeImage($event)" />
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-12 p-0">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="height">Allergies</label>
                  <textarea rows="4" cols="5" class="form-control" id="allergies" formControlName="allergies"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="height">Address</label>
                  <textarea rows="5" cols="6" class="form-control" id="address" formControlName="address"></textarea>
                </div>
              </div>
            </div>
            
            
            
            <div class="form-group col-md-12 text-center" *ngIf="!userId">
              <a routerLink='/student_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" (click)="submitStudent()" [disabled]="disableButton">Submit</button>
            </div>
            <div class="form-group col-md-12 text-center" *ngIf="userId">
              <a routerLink='/student_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" (click)="updateStudentForm()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>