<!-- <app-header></app-header> -->
<p>
  student-profile works!
</p>
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Student Profile
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/school_dashboard']" >Home</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/school_students_list']" >Student List</a></li>
            <li>Student Profile</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Student Profile</h3>

        <!-- <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div> -->
      </div>
      <!-- /.box-header -->
      <form>
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div class="profile-img-wrapper">
                <img src="{{url}}{{studentData.profile_img}}" class="img-responsive" />
              </div>
              <div class="form-group col-md-12 text-center">
                <button type="button" routerLink="/school_students_list" class="btn btn-danger btn-lg mt-2r">Back</button>
              </div>
            </div>

            <div class="col-md-10">
              <div class="row">
                <div class="input-fields">

                  <div class="col-md-6" *ngIf="studentData && studentData.s_fname !'undefined'">
                    <div class="form-group">
                      <label for="name">First Name</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.s_fname !'undefined'"
                        value="{{studentData.s_fname}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.s_lname !'undefined'">
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.s_lname !'undefined'"
                        value="{{studentData.s_lname}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.mobile !'undefined'">
                    <div class="form-group">
                      <label for="name">Primary Mobile</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.mobile !'undefined'"
                        value="{{studentData.mobile}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.email !'undefined'">
                    <div class="form-group">
                      <label for="name">Primary Email</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.email !'undefined'"
                        value="{{studentData.email}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.school_name !'undefined'">
                    <div class="form-group">
                      <label for="schoolName">School</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.school_name !'undefined'"
                        value="{{studentData.school_name}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.class_name !'undefined'">
                    <div class="form-group col-md-6 pl-0">
                      <label for="class">Class</label>
                      <input type="text" class="form-control" id="class" disabled
                      *ngIf="studentData && studentData.class_name !'undefined'"
                      value="{{studentData.class_name}}" 
                        placeholder="Class">
                    </div>
                    <div class="form-group col-md-6 pr-0" *ngIf="studentData && studentData.division_name !'undefined'">
                      <label for="division">Division</label>
                      <input type="text" class="form-control" id="division" disabled 
                      *ngIf="studentData && studentData.division_name !'undefined'"
                      value="{{studentData.division_name}}">
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.dob !'undefined'">
                    <div class="form-group">
                      <label for="dob">Date Of Birth</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.dob !'undefined'"
                        value="{{studentData.dob}}" disabled>
                    </div>
                  </div>

                  <div class="col-md-6" *ngIf="studentData && studentData.gender !'undefined'">
                    <div class="form-group">

                      <label >Gender </label>
                      <input type="text" class="form-control" name="gender" *ngIf="studentData && studentData.gender !'undefined'"
                        value="{{studentData.gender}}" disabled>
                      <!-- <span class="checkmark"></span> -->
                      <!-- <label class="radio-container">Female
                        <input type="radio" name="gender" value="female" disabled>
                        <span class="checkmark"></span>
                      </label> -->
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.mother_name !'undefined'">
                    <div class="form-group">
                      <label for="mother">Mother's Name</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.mother_name !'undefined'"
                        value="{{studentData.mother_name}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.father_name !'undefined'">
                    <div class="form-group">
                      <label for="fnumber">Father's Name</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.father_name !'undefined'"
                        value="{{studentData.father_name}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.mother_mobile !'undefined'">
                    <div class="form-group">
                      <label for="mnumber">Mother's Mobile Number</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.mother_mobile !'undefined'"
                        value="{{studentData.mother_mobile}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6"  *ngIf="studentData && studentData.father_mobile !'undefined'">
                    <div class="form-group">
                      <label for="mEmail">Father's Mobile Number</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.father_mobile !'undefined'"
                        value="{{studentData.father_mobile}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.blood_group !'undefined'">
                    <div class="form-group">
                      <label for="bp">Blood Group</label>
                      <input type="text" class="form-control" *ngIf="studentData && studentData.blood_group !'undefined'"
                        value="{{studentData.blood_group}}" disabled>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.address !'undefined'">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <textarea rows="5" cols="6" class="form-control"
                        *ngIf="studentData && studentData.address !'undefined'"
                        value="{{studentData.address}}" disabled></textarea>
                      <!-- <div class="invalid-feedback">Address is required</div> -->
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="studentData && studentData.allergies !'undefined'">
                    <div class="form-group">
                      <label for="height">Allergies</label>
                      <textarea rows="5" cols="6" class="form-control"
                        disabled
                        *ngIf="studentData && studentData.allergies !'undefined'"
                        value="{{studentData.allergies}}"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <!-- <div formGroupName="health">
       
            </div> -->
        </div>
      </form>
    </div>

  </section>
  <!-- /.content -->
</div>