 <!-- Content Wrapper. Contains page content -->
 <!-- <header></header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
         Student List
        </div>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/doctor-dashboard']" >Home</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/pastdoctor_assigned_school']" >Past Checkup List</a></li>
            <li>Student List</li>
          </ul>
        </div>
      <!-- </div> -->
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <table id="pssTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Blood Group</th>
                <th>Gender</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of data">
                  <td>{{list.sr_no}}</td>
                  <td class="text-success">{{list.s_fname}} {{list.s_lname}}</td>
                  <td>{{list.blood_group}}</td>
                  <td>{{list.gender}}</td>
                  <td ><a class="btn btn-primary btn-width w-fit-content margin p-2 col-xs-3"
                    routerLink='/paststudent_checkup/{{list.checkup_id}}'>view</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
