 <!-- Content Wrapper. Contains page content -->
 
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="col-lg-12 col-xs-6 plr-0">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{total}}</h3>
  
              <p>Total Students</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <!-- <a [routerLink]="['/school_list']" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>