<header class="main-header">
  <!-- <a routerLink='/' class="logo">
    <span class="logo-mini"><b>C</b>C</span>
    <span class="logo-lg"><b>Student</b> Health Care</span>
  </a> -->
  <nav class="navbar navbar-static-top navbar-fixed-top">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a [routerLink]="['/dashboard']" class="logo">
      <span class="logo-mini"><b>C</b>C</span>
      <span class="logo-lg"><img src="assets/img/logo.png" class="img-responsive logo-img"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a class="btn btn-flat log-out">
            <span class="username-top">{{Username}}</span>
          </a>
        </li>
        <li class="dropdown user user-menu">
          <a routerLink='/login' title="Signout" (click)="singOut()" routerLinkActive="router-link-active"
            class="btn btn-flat log-out">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            
          </a>
        </li>
        <!-- <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="assets/dist/img/avatar.png" class="" alt="User Image">
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><img src="assets/dist/img/avatar.png" class="" alt="User Image"></a></li>
              <li><a href="#"><a routerLink='/' (click)="singOut()" routerLinkActive="router-link-active" class="btn btn-default btn-flat">Sign out</a></a></li>
            </ul>
          </li> -->
        <!-- <li class="dropdown user user-menu">
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="assets/dist/img/avatar.png" class="" alt="User Image">
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a routerLink='/' (click)="singOut()" routerLinkActive="router-link-active" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li> -->
      </ul>
    </div>
  </nav>
</header>
<aside class="main-sidebar">
  <section class="sidebar">
    <!-- <ul class="sidebar-menu" data-widget="tree" *ngIf="userAuth.data.user_type_id ==='1'"> -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header" style="visibility: hidden">SUPER ADMIN NAVIGATION</li>
      <li class="header">SUPER ADMIN NAVIGATION</li>
      <li>
        <a routerLink='/admin-dashboard' href="javascript:void(0)" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="treeview-school" href="javascript:void(0)" routerLinkActive="active">
          <i class="fas fa-school"></i> <span>School</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left treeview-school-rotate pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu2 treeview-menu-school">
          <li (click)="addRemoveClass()"><a routerLink='/add_school' routerLinkActive="active"> Add School</a></li>
          <li (click)="addRemoveClass1()"><a routerLink='/add_classes' routerLinkActive="active">Add Classes</a></li>
          <li (click)="addRemoveClass9()"><a routerLink='/add_division' routerLinkActive="active">Add Division</a></li>
          <li (click)="addRemoveClass2()"><a routerLink='/school_list' routerLinkActive="active">School List</a></li>
          <li (click)="addRemoveClass2()"><a routerLink='/classes_list' routerLinkActive="active">Classes List</a></li>
        </ul>
      </li>
      <!-- <li>
        <a class="treeview-class" href="javascript:void(0)">
          <i class="fas fa-school"></i> <span>Class</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left treeview-class-rotate pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu2 treeview-menu-class">
          
        </ul>
      </li> -->

      <li>
        <a class="treeview-doctor" href="javascript:void(0)">
          <i class="fas fa-user-md"></i> <span>Doctor</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left treeview-doctor-rotate pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu2 treeview-menu-doctor">
          <li (click)="addRemoveClass3()"><a routerLink='/add_doctor' routerLinkActive="active"> Add Doctor</a></li>
          <li (click)="addRemoveClass4()"><a routerLink='/doctor_list' routerLinkActive="active"> Doctor List</a></li>

        </ul>
      </li>
      <li>
        <a class="treeview-student" href="javascript:void(0)">
          <i class="fas fa-user-tie"></i> <span>Student</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left treeview-student-rotate pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu2 treeview-menu-student">
          <li (click)="addRemoveClass5()"><a routerLink='/add_student' routerLinkActive="active">Add Student</a></li>
          <li (click)="addRemoveClass6()"><a routerLink='/student_list' routerLinkActive="active"> Student List</a></li>
        </ul>
      </li>
      <li>
        <a class="treeview-checkup" href="javascript:void(0)">
          <i class="fas fa-user-md"></i> <span>Schedule Checkups</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left treeview-checkup-rotate pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu2 treeview-menu-checkup">
          <li (click)="addRemoveClass4()"><a routerLink='/schedule_checkup' routerLinkActive="active">Add Schedule</a></li>
          <li (click)="addRemoveClass4()"><a routerLink='/schedule_list' routerLinkActive="active">Schedule List</a></li>
        </ul>
      </li>
      <li>
          <a class="treeview-checkuplist" href="javascript:void(0)">
            <i class="fas fa-user-md"></i> <span>Done Checkups</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left treeview-checkup-rotate pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu2 treeview-menu-checkuplist">
            <li (click)="addRemoveClass7()"><a routerLink='/done_checkups' routerLinkActive="active">Checkup List</a></li>
          </ul>
        </li>
    </ul>
    <ul class="sidebar-menu treeview-menu-upload" data-widget="tree">
      <li (click)="addRemoveClass8()"><a [routerLink]="['/upload_doc']" routerLinkActive="active"> <span>Upload Document</span></a></li>
    </ul>
  </section>
</aside>