.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{background: transparent;color: #ddd;}
.log-out{font-size: 20px; padding: 13px;}
.username-top{text-transform: capitalize;}
.active{
    color: #fff;
    font-weight: 600;
    /* border-left: 2px solid; */
    /* border-left-color:#fff !important; */
    background: #bd171c;
    box-shadow: inset 0px 0px 30px #6f0206;
    transition: .5s;
}