<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <section class="content-header">
      <h1>Student List</h1>
      <a class="btn btn-danger btn-lg back-btn" routerLink='/done_checkups'>Back</a>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="studentTable" class="table table-bordered table-hover" >
                <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Name</th>
                  <th>Blood Group</th>
                  <th>Gender</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let list of data">
                    <td>{{list.sr_no}}</td>
                    <td class="text-success">{{list.s_fname}} {{list.s_lname}}</td>
                    <td>{{list.blood_group}}</td>
                    <td>{{list.gender}}</td>
                    <td ><a 
                      class="btn btn-primary w-fit-content margin p-2 col-xs-3" 
                      routerLink="/student_checkup_detail/{{list.checkup_id}}">view</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  