 <!-- Content Wrapper. Contains page content -->
 <!-- <app-header></app-header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Student List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/school_dashboard']" >Home</a></li>
            <li>Student List</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <table id="studentTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>DOB</th>
                <!-- <th>Allergies</th> -->
                <th>Mobile Number</th>
                <th>Class</th>
                <th>Division</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of data">
                  <td>{{student.sr_no}}</td>
                  <td>{{student.s_fname}} {{student.s_lname}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.dob}}</td>
                  <!-- <td>{{student.allergies}}</td> -->
                  <td>{{student.mobile}}</td>
                  <td>{{student.class_name}}</td>
                  <td>{{student.division_name}}</td>
                  <td class="row">
                    <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" routerLink='/school_students_details/{{student.student_id}}'><i class="far fa-eye"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
