<!-- <div class="wrapper"> -->
    <!-- <app-header *ngIf="currentUrl!='/login' && currentUrl3!='/doctor_dashboard'"></app-header> -->
    <!-- <div *ngIf="currentUrl =='/'">
        <app-login></app-login>
    </div>
    <div *ngIf="currentUrl2 =='/dashboard'">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div> -->
    <!-- <app-header *ngIf="currentUrl2 =='/dashboard'"></app-header>
    <app-header *ngIf="currentUrl3 =='/doctor_assigned_school'"></app-header>
    <app-header *ngIf="currentUrl4 =='/school_admin'"></app-header> -->
    <!-- <app-header *ngIf="currentUrl5 =='/student_health_care'" ></app-header> -->
    <!-- <app-header *ngIf="currentUrl != '/'"></app-header>
</div> -->
<router-outlet></router-outlet>
