<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Upload Documents
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li> Upload Documents</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- SELECT -->
    <div class="box box-default">
      <!-- /.box-header -->
      <form [formGroup]="uploadForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group col-md-12 pl-0 pos-rel">
                <label>Select User *</label>
                <select class="form-control select2" style="width: 100%;" (change)="getSchoolList($event)" formControlName="user" [ngClass]="{ 'is-invalid': submitted && f.user.errors }" >
                  <option selected="selected" disabled>choose</option>
                  <option value="school" >School</option>
                  <option value="doctor">Doctor</option>
                  <option value="student">Student</option>
                </select>
                <div *ngIf="submitted && f.user.errors" class="invalid-feedback2">
                    <div *ngIf="f.user.errors.required">User is required</div>
                  </div>
              </div>
            </div>
            <!-- <div class="col-md-6" *ngIf="this.isstudent==true">
              <div class="form-group">
                <label>School Name *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" (change)="getClass($event)"
                  formControlName="school_id" required>
                  <option selected="selected" disabled>Choose School</option>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">School Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="this.isstudent==true">
              <div class="form-group ">
                <label>Class *</label>
                <select class="form-control select2" style="width: 100%;"  formControlName="class_id"
                  [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }" required>
                  <option selected="selected" disabled>Choose class</option>
                  <option *ngFor="let class of classList" [value]="class.class_id">{{class.class_name}}</option>
                </select>
                <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback2">
                  <div *ngIf="f.class_id.errors.required">Please Select Class</div>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Upload document</label>
                <div class="input-group " name="Fichier1">
                  <span class="input-group-btn">
                      <button class="btn btn-default btn-choose" type="button">Choose</button>
                    </span>
                    <input id="file-input" class="form-control" type="file" formControlName="fileupload" 
                    accept=".csv"  (change)="handleChangeImage($event)" [ngClass]="{ 'is-invalid': submitted && f.fileupload.errors }"/>
                    <div *ngIf="submitted && f.fileupload.errors" class="invalid-feedback2">
                        <div *ngIf="f.fileupload.errors.required">File is required</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col -->
            <div class="form-group col-md-6 text-right mt-2">
              <button type="button" class="btn btn-primary btn-sm" (click)="uploadFileData()" [disabled]="disableButton">Submit</button> 
            </div>
        </div>
      </form>
    </div>

  </section>
  <!-- /.content -->
</div>
<div *ngIf="this.loader==true" class="loader-gif-wrapper">
  <img src="assets/img/loader.gif" class="loader-gif"/>
</div>
