<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Schedule Checkup
        </div>
        <div class="header-text" *ngIf="userId">
          Update Schedule Checkup
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Schedule Checkup</li>
          </ul>
        </div>
    </div>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border" *ngIf="userId">
          <h3 class="box-title">Update Schedule</h3>
        </div>
      <form [formGroup]="addScheduleForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Select Doctor *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.dr_id.errors }" formControlName="dr_id">
                  <option selected="selected" disabled>Choose Doctor</option>
                  <option *ngFor="let doctor of doctorList" [value]="doctor.dr_id">{{doctor.doctor_name}} ({{doctor.email}})</option>
                </select>
                <div *ngIf="submitted && f.dr_id.errors" class="invalid-feedback">
                  <div *ngIf="f.dr_id.errors.required">Please Select Doctor</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Select School *</label>
                <select class="form-control select2" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': submitted && f.school_id.errors }" (click)="getClass($event)" formControlName="school_id">
                  <option selected="selected" disabled>Choose School</option>
                  <option *ngFor="let school of school_list" [value]="school.school_id">{{school.school_name}}</option>
                </select>
                <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                  <div *ngIf="f.school_id.errors.required">Please Select School</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Select Class</label>
                <select class="form-control select2" style="width: 100%;" formControlName="class_id" (click)="getDivision($event)">
                  <option selected="selected" disabled value="null">Class</option>
                  <option *ngFor="let class of classList" [value]="class.class_id">{{class.class_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Select Division</label>
                <select class="form-control select2" style="width: 100%;" formControlName="division_id">
                    <option selected="selected" disabled>Division</option>
                  <option *ngFor="let division of divisionList" [value]="division.division_id">{{division.division_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pos-rel">
                <label for="name">Select Date *</label>
                <input type="date" class="form-control" id="date" formControlName="scheduled_at"
                  placeholder="Class Name" [ngClass]="{ 'is-invalid': submitted && f.scheduled_at.errors }"
                  [min]="getToday()">
                <div *ngIf="submitted && f.scheduled_at.errors" class="invalid-feedback2">
                  <div *ngIf="f.scheduled_at.errors.required">Please Select Date</div>
                </div>
                <!-- <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5"
                  [(ngModel)]="selectedDate">
                </dl-date-time-picker> -->
              </div>
            </div>
            <div class="form-group pos-rel col-md-12 text-center">
              <a routerLink='/schedule_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="!userId" (click)="addScheduleData()" [disabled]="disableButton">Submit</button>
              <button type="button" class="btn btn-success btn-lg ml-10" *ngIf="userId"
                (click)="updateScheduleData()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

</div>