<div class="content-wrapper login-body">
  <div class="background-wrap">
    <div class="background"></div>
  </div>

  <form id="accesspanel" [formGroup]="userForm">
    <!--action="login" method="post"-->
    <div class="login-form">
      <h1 id="litheader">Student Health Care</h1>
      <div class="inset">
        <div class="form-group pos-rel">
          <p>
            <input type="text" name="email" id="email" placeholder="User Name" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          </p>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group pos-rel">
          <p>
            <input type="password" name="password" id="password" placeholder="Access code" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          </p>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div style="text-align: center;">
          <a [routerLink]="['/forgot_password_email']"for="remember" >Forgot Password</a>
        </div>
      </div>
      <div class="form-group">
        <!--<button [disabled]="loading" class="p-container">Login</button>-->
        <p class="p-container">
          <!--<a [routerLink]="['/dashboard']" name="Login" id="go">Authorize</a>-->
          <button [disabled]="loading" class="p-container btn btn-danger" id="go" (click)="userLogin()">Login</button>
        </p>
      </div>
    </div>
  </form>
</div>
