 <!-- Content Wrapper. Contains page content -->
 
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol> -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="col-lg-12 col-xs-6 plr-0">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{total}}</h3>
  
              <p>Total Assigned School</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a  class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div> 
      <div class="col-lg-3 col-xs-12">
        <!-- ./col -->
        <div class="col-lg-12 col-xs-6 plr-0">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
              <h3>{{completed}}</h3>
  
              <p>Total Checkup Done</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-xs-12">
        <!-- ./col -->
        <div class="col-lg-12 col-xs-6 plr-0">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{upcoming}}</h3>
  
              <p>Total Checkup Upcoming</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </div>
    <!-- /.row -->    

   
    <div class="row">
      
    </div>

  </section>
  <!-- /.content -->
</div>