 <!-- Content Wrapper. Contains page content -->
 <!-- <header></header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
         Today's Checkup List
        </div>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/doctor-dashboard']" >Home</a></li>
            <li>Today's Schedule</li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">Display School List</h3> -->
            <!-- <div class="search-btn-input">
              <input type="text" class="mr-10 search-input" placeholder="Search by school name"/>
              <button type="button" class="btn btn-success btn-lg">View All Records</button>
            </div> -->
      
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="dasTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>School</th>
                <th>School Admin</th>
                <th>Class</th>
                <th>Division</th>
                <th>Scheduled Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of data">
                  <td>{{list.sr_no}}</td>
                  <td class="text-success">{{list.school_name}}</td>
                  <td>{{list.admin_name}}</td>
                  <td>{{list.class_name}}</td>
                  <td>{{list.division_name}}</td>
                  <td>{{list.scheduled_at}}</td>
                  <td ><a class="btn btn-primary btn-width w-fit-content margin p-2 col-xs-3"
                    routerLink='/student_list/{{list.scheduled_checkup_id}}'>view</a>
                  </td>
                </tr>
                <!-- <tr *ngIf="mf.data.length==0">
                  <td colspan="12">No Data Found</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
