 <!-- Content Wrapper. Contains page content -->
 <!-- <app-header></app-header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Student List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Student List</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          
          <!-- /.box-header -->
          <div class="box-body">
            <table id="studentTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Primary Email</th>
                <th>DOB</th>
                <th>Mobile Number</th>
                <th>School</th>
                <th>Class</th>
                <th>Division</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of data">
                  <td>{{student.sr_no}}</td>
                  <td>{{student.s_fname}} {{student.s_lname}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.dob}}</td>
                  <td>{{student.mobile}}</td>
                  <td >{{student.school_name}}</td>
                  <td>{{student.class_name}}</td>
                  <td>{{student.division_name}}</td>
                  <!-- <td >{{student.status}}</td> -->
                  <td><label class="switch">
                    <input type="checkbox" [checked]="student.status == 'Active'" (click)="updateStudentStatus(student.user_id)">
                    <span class="slider round"></span>
                  </label></td>
                  <td class="row">
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink='/student_profile/{{student.student_id}}'><i class="far fa-eye"></i></a>
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink='/add_student/{{student.student_id}}'><i class="fas fa-pencil-alt"></i></a>
                    <!-- <button *ngIf="student.status == 'Active'" class="btn btn-success btn-width w-fit-content margin p-2 col-xs-3" (click)="updateStudentStatus(student.user_id)">{{student.status}}</button>
                    <button *ngIf="student.status == 'In-Active'" class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" (click)="updateStudentStatus(student.user_id)">{{student.status}}</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
