.mr-10{margin-right: 10px;}
.mt-2r{margin-top: 2rem;}
.mb-1r{margin-bottom: 1rem;}

.big-font{
    font-size: 20px;
    font-weight: bold;
}
.small-box2{
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box2 .inner{padding: 10px;}
.small-box2 h3{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.search-btn-input{width: 50%;margin: 0 auto;text-align: center;}
.search-input{
    height: 35px;
    padding-left: 8px;
    width: 100%;
}
.search-btn{margin-top: 15px;}
.w-fit-content{width: fit-content;}