<header class="main-header">
  <nav class="navbar navbar-static-top navbar-fixed-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a routerLinkActive="router-link-active"
            class="btn btn-flat log-out">
            <span class="username-top">{{Username}}</span>
          </a>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a [routerLink]="['/login']" class="dropdown-toggle log-out" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <!-- <img src="assets/dist/img/avatar.png" class="user-image" alt="User Image"> -->
            <!-- <i class="fas fa-sign-out-alt"></i> -->
          </a>
          <!-- <ul class="dropdown-menu">
            <li class="user-header">
              <img src="assets/dist/img/avatar.png" class="" alt="User Image">
             
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:void(0)" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">SCHOOL ADMIN NAVIGATION</li>
      <li class="treeview">
        <a [routerLink]="['/school_dashboard']" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a [routerLink]="['/school_admin']" routerLinkActive="active">
          <i class="fas fa-school"></i> <span>School</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink='/school_students_list' routerLinkActive="active">
          <i class="fas fa-user-tie"></i> <span>Student List</span>
        </a>
      </li>
      
    </ul>
    <!-- <ul class="sidebar-menu" data-widget="tree">
      <li class="header">LABELS</li>
      <li><a href="javascript:void(0)"><i class="fas fa-comment-alt text-aqua"></i> <span>Reports & Feedbacks</span></a>
      </li>
    </ul> -->
  </section>
  <!-- /.sidebar -->
</aside>