<p>
  school-report works!
</p>
 <!-- Content Wrapper. Contains page content -->
 <!-- <app-header></app-header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Student Report
      <small>Control panel</small>
    </h1>
    <div class="search-btn-input row">
      <div class="container-fluid">
        <div class="col-md-3">
          <div class="form-group">
            <label>School</label>
            <select class="form-control select2" style="width: 100%;" (change)="onItemSelect($event)">
              <option  default selected="selected">Choose a school</option>
              <option *ngFor="let school of school_List"  value="{{school.Id}}">{{school.School_name}}</option>
            </select>
            <!-- <ng-multiselect-dropdown
              [placeholder]="'Search School'"
              [data]="school_List"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
            >
            </ng-multiselect-dropdown> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Class</label>
            <select class="form-control select2" style="width: 100%;">
              <option selected="selected" >Std 1</option>
              <option>Std 2</option>
              <option>Std 3</option>
              <option>Std 4</option>
              <option>Std 5</option>
              <option>Std 6</option>
              <option>Std 8</option>
              <option>Std 9</option>
              <option>Std 10</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Division</label>
            <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Div 1</option>
              <option>Div 2</option>
              <option>Div 3</option>
              <option>Div 4</option>
              <option>Div 5</option>
              <option>Div 6</option>
              <option>Div 8</option>
              <option>Div 9</option>
              <option>Div 10</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a></li>
      <li class="active">School</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Display Student List</h3>
            <!-- <div class="search-btn-input">
              <input type="text" class="mr-10 search-input" placeholder="Search by school name"/>
              <button type="button" class="btn btn-success btn-lg">View All Records</button>
            </div> -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!-- <input type="text" (keyup)='search($event.target.value)' placeholder="Search By Student Name"> -->
            <table id="example1" class="table table-bordered table-hover" [mfData]="filterData" #mf="mfDataTable" >
              <thead>
              <tr>
                <th>Student Name</th>
                <th>Height (CM)</th>
                <th>Weight (KG)</th>
                <th>BMI (KG/M2)</th>
                <th>Blood Pressure</th>
                <th>Heartrate (Beats/Min)</th>
                <th>Muscle mass (lbs)</th>
                <th>Body fat (%)</th>
                <th>Water content (%)</th>
                <th>Basal metabolism (BMR)</th>
                <th>Visceral fat</th>
                <th>Bone mass (%)</th>
                <th>Dental report</th>
                <!-- <th>Action</th> -->
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let report of mf.data">
                  <td>{{report.Student_first}}</td>
                  <td>{{report.Height}}</td>
                  <td>{{report.Weight}}</td>
                  <td>{{report.Bmi}}</td>
                  <td>{{report.Bp}}</td>
                  <td>{{report.Heart_rate}}</td>
                  <td>{{report.Muscle_mass}}</td>
                  <td>{{report.Body_fat}}</td>
                  <td>{{report.Water}}</td>
                  <td>{{report.Basal_etabolism}}</td>
                  <td>{{report.Visceral_fat}}</td>
                  <td>{{report.Bone_mass}}</td>
                  <td>{{report.Dental_report}}</td>
                 
                  <!-- <td class="row">
                    <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" title="Student Profile" routerLink='/student_profile/{{report.Id}}'><i class="far fa-eye"></i></a>
                    <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" title="Edit" routerLink='/student_checkup/{{report.Student_id}}'><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" title="Report History" routerLink='/checkup_history/{{report.Id}}'><i class="fas fa-history"></i></a>
                  </td> -->
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
