<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Student Checkup
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Student Checkup Report</li>
      </ol> -->
      <div class="search-btn-input row">
        <div class="container-fluid">
          <div class="col-md-3">
            <div class="form-group" *ngIf="studentData && studentData.s_fname">
              <label for="schoolName">Student Name</label>
              <input type="text" class="form-control" value="{{studentData.s_fname}} {{studentData.s_lname}}" disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" *ngIf="studentData && studentData.school_name">
              <label for="schoolName">School Name</label>
              <input type="text" class="form-control" value="{{studentData.school_name}}" disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" *ngIf="studentData && studentData.class_name">
              <label>Class</label>
              <input type="text" class="form-control" value="{{studentData.class_name}}" disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" *ngIf="studentData && studentData.division">
              <label>Division</label>
              <input type="text" class="form-control" value="{{studentData.division}}" disabled>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Make Report</h3>
        </div>
        <!-- /.box-header -->
        <form [formGroup]="addStudentCheckupForm">
          <div class="box-body container-fluid">
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group pos-rel">
                  <label for="height">Height (CM)</label>
                  <input type="number" min="0" class="form-control" id="height" (input)="getBodyDetail()"
                    formControlName="height" placeholder="Student Height" disabled>
                  <!-- <div *ngIf="blurHeightEvent" class="invalid-feedback2">
                    <div>height is required</div>
                  </div> -->
                </div>
                <div class="form-group pos-rel">
                  <label for="bp">Blood Pressure (High and Low in numbers)</label>
                  <input type="text" class="form-control" id="bp" formControlName="bp" placeholder="Blood Pressure"
                  [ngClass]="{ 'is-invalid': submitted && f.bp.errors }" disabled>
                  <div *ngIf="submitted && f.bp.errors" class="invalid-feedback2">
                    <div *ngIf="f.bp.errors.required">BP is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="bmi">BMI (KG/M2)</label>
                  <input type="text" class="form-control" id="bmi" value="{{bmi | number:'2.1-2'}}" formControlName="bmi"
                    placeholder="BMI" disabled>
                </div>
                <!-- <div class="form-group">
                  <label for="mm">Muscle mass (lbs)</label>
                  <input type="text" class="form-control" id="mm" formControlName="muscle_mass" placeholder="Muscle mass">
                </div> -->
                <!-- <div class="form-group">
                  <label for="bf">Body fat (%)</label>
                  <input type="text" class="form-control" id="bf" formControlName="body_fat" placeholder="Body fat">
                </div> -->
                <div class="form-group pos-rel">
                  <label for="dreport">Dental report (visual)</label>
                  <input type="text" class="form-control" id="dreport" formControlName="dental_report"
                    placeholder="Dental report" [ngClass]="{ 'is-invalid': submitted && f.dental_report.errors }" disabled>
                    <div *ngIf="submitted && f.dental_report.errors" class="invalid-feedback2">
                      <div *ngIf="f.dental_report.errors.required">Dental report is required</div>
                    </div>
                  </div>
                
                <div class="form-group pos-rel">
                  <label for="describe">Consultation Notes</label>
                  <textarea rows="5" cols="6" class="form-control" formControlName="consultation_notes"
                    id="describe" [ngClass]="{ 'is-invalid': submitted && f.consultation_notes.errors }" disabled></textarea>
                    <div *ngIf="submitted && f.consultation_notes.errors" class="invalid-feedback2">
                      <div *ngIf="f.consultation_notes.errors.required">consultation notes is required</div>
                    </div>
                  </div>
                <div class="form-group pos-rel">
                  <label for="describe">Suggested Treatment</label>
                  <textarea rows="5" cols="6" class="form-control" formControlName="suggested_treatment"
                    id="describe" [ngClass]="{ 'is-invalid': submitted && f.suggested_treatment.errors }" disabled></textarea>
                    <div *ngIf="submitted && f.suggested_treatment.errors" class="invalid-feedback2">
                      <div *ngIf="f.suggested_treatment.errors.required">Suggested Treatment is required</div>
                    </div>
                </div>
              </div>
  
              <!-- second column -->
  
              <div class="col-md-6">
                <div class="form-group pos-rel">
                  <label for="weight">Weight (KG)</label>
                  <input type="number" min="0" class="form-control" id="weight" formControlName="weight"
                    (input)="getBodyDetail()" placeholder="Student Weight" disabled>
                  <!-- <div *ngIf="blurWeightEvent" class="invalid-feedback2">
                    <div >weight is required</div>
                  </div> -->
                </div>
                <div class="form-group pos-rel">
                  <label for="heartrate">Heart Rate (Beats/Min)</label>
                  <input type="text" class="form-control" id="heartrate" formControlName="heart_rate"
                    placeholder="Heartrate (would be in BPM - beats per minute)" disabled [ngClass]="{ 'is-invalid': submitted && f.heart_rate.errors }">
                    <div *ngIf="submitted && f.heart_rate.errors" class="invalid-feedback2">
                      <div *ngIf="f.heart_rate.errors.required">Heart Rate is required</div>
                    </div>
                  </div>
                
                <div class="form-group">
                  <label for="bm">Basal metabolism (BMR)</label>
                  <input type="text" class="form-control" id="bmi" value="{{bmr | number:'2.1-2'}}"
                    formControlName="basal_metabolism" placeholder="Basal metabolism" disabled>
                </div>
                <div class="form-group">
                  <label for="wc">Water content (L)</label>
                  <input type="text" class="form-control" id="wc" value="{{tbw | number:'2.1-2'}}" 
                  formControlName="water" placeholder="Water content" disabled>
                </div>
                <div class="form-group pos-rel">
                  <label for="vf">Visceral fat</label>
                  <input type="text" class="form-control" id="vf" formControlName="visceral_fat"
                    placeholder="Visceral fat" [ngClass]="{ 'is-invalid': submitted && f.visceral_fat.errors }" disabled>
                    <div *ngIf="submitted && f.visceral_fat.errors" class="invalid-feedback2">
                      <div *ngIf="f.visceral_fat.errors.required">visceral fat is required</div>
                    </div>
                  </div>
                
                <!-- <div class="form-group">
                  <label for="bmass">Bone mass (%)</label>
                  <input type="text" class="form-control" id="bmass" formControlName="bone_mass" placeholder="bone mass">
                </div> -->
                <div class="form-group pos-rel">
                  <label for="eye">Eye check up</label>
                  <table class="table table-bordered">
                    <thead class="bg-dark">
                      <tr>
                        <th>EYE</th>
                        <th>LEFT EYE</th>
                        <th>RIGHT EYE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="bg-dark">SPHERICAL</td>
                        <td><input type="text" class="form-control" formControlName="spherical_left" placeholder="-3.00" disabled>
                        </td>
                        <td><input type="text" class="form-control" formControlName="spherical_right" placeholder="-5.00" disabled>
                        </td>
                      </tr>
                      <tr>
                        <td class="bg-dark">CYLINDRICAL</td>
                        <td><input type="text" class="form-control" formControlName="cylindrical_left"
                            placeholder="-0.75" disabled></td>
                        <td><input type="text" class="form-control" formControlName="cylindrical_right" placeholder="40" disabled>
                        </td>
                      </tr>
                      <tr>
                        <td class="bg-dark">AXIS</td>
                        <td><input type="text" class="form-control" formControlName="axis_left" placeholder="180" disabled></td>
                        <td><input type="text" class="form-control" formControlName="axis_right" placeholder="-0.25" disabled></td>
                      </tr>
                      <tr>
                        <td class="bg-dark">AP</td>
                        <td><input type="text" class="form-control" formControlName="ap_left" placeholder="-" disabled></td>
                        <td><input type="text" class="form-control" formControlName="ap_right" placeholder="-" disabled></td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="submitted && f.ap_right.errors" class="invalid-feedback2">
                    <div *ngIf="f.ap_right.errors.required">Ap Right is required</div>
                  </div>
                </div>
              </div>
              <!-- /.col -->
              <div class="form-group col-md-12 text-center">
                <a class="btn btn-danger btn-lg"
                      routerLink='/studentcheckuplist/{{sch_checkupId}}'>Back</a>
              </div>
            </div>
            <!-- /.row -->
          </div>
        </form>
      </div>
    </section>
    <!-- /.content -->
  </div>