/* You can add global styles to this file, and also import other style files */
/*=============== Global Css ===============*/
/* padding */
.p-2{padding: 2px !important;}

/* width */
.w--50{width: 50px;}

/* margin */
.ml-5{margin-left: 5px;}
.mb-0{margin-bottom: 0;}
.mt-2{margin-top: 2rem;}
.ml-10{margin-left: 10px;}
/* height */
/* .min-h-870{min-height: 870px !important;} */

.fas, .far{width: 25px;}
.invalid-feedback{color: red;position: absolute;bottom: 2px;font-size: 11px;}
.invalid-feedback2{color: red;position: absolute;bottom: -15px;font-size: 11px;}
.invalid-feedback3{color: red;position: relative;bottom: -15px;font-size: 11px;}
.invalid-feedback-more{color: red;position: absolute;top: -17px;left: 20rem; font-size: 11px;}
.invalid-feedback-inside{position: absolute;right: -16rem;}
.multiselect-dropdown .dropdown-btn{background: #fff;}
.loader-gif{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader-gif-wrapper{
    background: rgba(0,0,0,0.5);
    /* z-index: 9999; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

.back-btn{
    float: right;
    margin-bottom: 10px;
}


 /* Breadcrumb CSS Start */
.header-text{
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 24px;
}

.breadcrumb-padding{
    padding-top: 10px;
}
/* Breadcrumb CSS End */

.btn-width{
    width: auto;
}
.breadcrumb-padding{
    width: fit-content;
    float: right;
}


/* active/Inactive css */
.switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }