.mr-10{margin-right: 10px;}

.search-btn-input{width: fit-content;margin: 0 auto;text-align: center;}
.search-input{
    height: 35px;
    padding-left: 8px;
    width: 100%;
}
.search-btn{margin-top: 15px;}
.w-fit-content{width: fit-content;}
.text-overflow {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }