 <!-- Content Wrapper. Contains page content -->
 <!-- <app-header></app-header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          Doctor List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Doctor List</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <table id="doctorTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Specialization</th>
                <th>Mobile Number</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of data">
                  <td>{{doctor.sr_no}}</td>
                  <td>{{doctor.fname}} {{doctor.lname}}</td>
                  <td>{{doctor.email}}</td>
                  <td>{{doctor.specialist}}</td>
                  <td>{{doctor.mobile}}</td>
                  <td><label class="switch">
                    <input type="checkbox" [checked]="doctor.status == 'Active'" (click)="updateUserStatus(doctor.user_id)">
                    <span class="slider round"></span>
                  </label></td>
                  <!-- <td>{{doctor.status}}</td> -->
                  <td class="row">
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink='/doctor_profile/{{doctor.doctor_id}}'><i class="far fa-eye"></i></a>
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink='/add_doctor/{{doctor.doctor_id}}'><i class="fas fa-pencil-alt"></i></a>
                    <!-- <button *ngIf="doctor.status == 'Active'" class="btn btn-success btn-width w-fit-content margin p-2 col-xs-3" (click)="updateUserStatus(doctor.user_id)">{{doctor.status}}</button>
                    <button *ngIf="doctor.status == 'In-Active'" class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" (click)="updateUserStatus(doctor.user_id)">{{doctor.status}}</button> -->
                  </td>
                </tr>
            
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
