 <!-- Content Wrapper. Contains page content -->
 <!-- <app-header></app-header> -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text">
          School List
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>School List</li>
          </ul>
        </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">

            <table id="schoolTable" class="table table-striped"  >
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>School Name</th>
                  <th>Email Address</th>
                  <th>School Admin</th>
                  <th>Phone Number</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data">
                  <td>{{item.sr_no}}</td>
                  <td>{{item.school_name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.admin_name}}</td>
                  <td>{{item.mobile}}</td>
                  <!-- <td>{{item.status}}</td> -->
                  <td><label class="switch">
                    <input type="checkbox" [checked]="item.status == 'Active'" (click)="updateUserStatus(item.user_id)">
                    <span class="slider round"></span>
                  </label></td>
                  <td class="row">
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink="/school_details/{{item.school_id}}" ><i class="far fa-eye"></i></a>
                    <a class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" routerLink="/add_school/{{item.school_id}}" ><i class="fas fa-pencil-alt"></i></a>
                    <!-- <button *ngIf="item.status == 'Active'" class="btn btn-success btn-width w-fit-content margin p-2 col-xs-3" (click)="updateUserStatus(item.user_id)">{{item.status}}</button>
                    <button *ngIf="item.status == 'In-Active'" class="btn btn-danger btn-width w-fit-content margin p-2 col-xs-3" (click)="updateUserStatus(item.user_id)">{{item.status}}</button> -->
                    <!-- <a class="btn btn-danger w-fit-content margin p-2 col-xs-3" routerLink="/add_school/{{item.school_id}"><i class="fas fa-pencil-alt"></i></a> -->
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
