<!-- <app-header></app-header> -->
<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-text" *ngIf="!userId">
          Add Doctor
        </div>
        <div class="header-text" *ngIf="userId">
          Update Doctor
        </div>
      </div>
        <div class="breadcrumb-padding">
          <ul class="breadcrumb float-right">
            <li><a href="javascript:void(0)" [routerLink]="['/admin-dashboard']" >Home</a></li>
            <li>Add Doctor</li>
          </ul>
        </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <form [formGroup]="addDoctorForm">
        <div class="box-body container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">First Name *</label>
                <input type="text" class="form-control" id="name" formControlName="fname"
                  [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" placeholder="First Name">

                <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                  <div *ngIf="f.fname.errors.required">First Name is required</div>
                  <div *ngIf="f.fname.errors.pattern">First Name Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Last Name *</label>
                <input type="text" class="form-control" id="lastname" formControlName="lname"
                  [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" placeholder="Last Name">
                <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                  <div *ngIf="f.lname.errors.required">Last Name is required</div>
                  <div *ngIf="f.lname.errors.pattern">Last Name Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group">
                <label for="InputEmail1">Email *</label>
                <input type="text" class="form-control" (blur)="checkEmail()" id="InputEmail1" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label for="InputEmail1">Email *</label>
                <input type="text" class="form-control" disabled id="InputEmail1" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!userId">
              <div class="form-group">
                <label for="mnumber">Mobile Number *</label>
                <input type="text" class="form-control" id="mnumber" (blur)="checkMobile()" formControlName="mobile"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="Enter Mobile Number" 
                  [attr.maxlength]="10" (keypress)="numberOnly($event)">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                  <div *ngIf="f.mobile.errors.pattern || f.mobile.errors.maxlength || f.mobile.errors.minlength">Mobile Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="userId">
              <div class="form-group">
                <label for="mnumber">Mobile Number *</label>
                <input type="text" class="form-control" id="mnumber" formControlName="mobile"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="Enter Mobile Number" [attr.maxlength]="10">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                  <div *ngIf="f.mobile.errors.pattern || f.mobile.errors.maxlength || f.mobile.errors.minlength">Mobile Must be a valid</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="specialist">Specialist *</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.specialist.errors }" 
                id="specialist" formControlName="specialist"
                  placeholder="Specialist">
                    <div *ngIf="submitted && f.specialist.errors" class="invalid-feedback">
                      <div *ngIf="f.specialist.errors.required">Specialist is required</div>
                    </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="associatedhospital">Associated Hospital *</label>
                <input type="text" class="form-control" id="hospital_name" [ngClass]="{ 'is-invalid': submitted && f.hospital_name.errors }" formControlName="hospital_name"
                  placeholder="Enter Associated Hospital">
                <div *ngIf="submitted && f.hospital_name.errors" class="invalid-feedback">
                      <div *ngIf="f.hospital_name.errors.required">Assocated hospital is required</div>
                    </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pscode">Designation *</label>
                <input type="text" class="form-control" id="pscode" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" formControlName="designation"
                  placeholder="Designation">
                <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                      <div *ngIf="f.designation.errors.required">Designation is required</div>
                    </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="radio-container">Male
                  <input type="radio" name="gender" value="male" checked="checked" formControlName="gender"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container">Female
                  <input type="radio" name="gender" value="female" formControlName="gender"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <span class="checkmark"></span>
                </label>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                  <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Upload Doctor Photo</label>
                  <div class="input-group" name="doctor_pic">
                    <span class="input-group-btn">
                      <input id="file-input" class="form-control"  type="file" 
                        accept="image/png,image/jpeg,image/jpg"
                        (change)="handleChangeImage($event)" 
                        formControlName="img_url" />
                    </span>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="address">Address</label>
                <textarea rows="3" cols="6" class="form-control" id="address" formControlName="address"></textarea>
              </div>
            </div>
            <div class="form-group col-md-12 text-center" *ngIf="!userId">
              <a routerLink='/doctor_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg ml-10" (click)="submitDoctor()" [disabled]="disableButton">Submit</button>
            </div>
            <div class="form-group col-md-12 text-center" *ngIf="userId">
              <a routerLink='/doctor_list' class="btn btn-danger btn-lg">Back</a>
              <button type="button" class="btn btn-success btn-lg  ml-10" (click)="updateDoctorForm()" [disabled]="disableButton">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>