<div class="content-wrapper">
  <section class="content-header">
    <h1>Dashboard
      <small>Control panel</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="col-lg-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{getSchool}}</h3>
              <p>Schools</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a [routerLink]="['/school_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{getStudent}}</h3>
              <p>Students</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a [routerLink]="['/student_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{getDoctor}}</h3>
              <p>Doctors</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a [routerLink]="['/doctor_list']" class="small-box-footer">More info <i
                class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </section>
</div>